<%- include('../partials/admin/header'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Article</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Article</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <a href=""><h5 class="m-0">Add New Article</h5></a>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-8">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">List of Article</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras sit amet nibh libero, in gravida nulla
                    <a href="/admin/article/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>

                    <a href="/admin/article1/delete" class="btn btn-danger btn-sm ml-1">
                      <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Cras sit amet nibh libero, in gravida nulla
                    <a href="/admin/article/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>

                    <a href="/admin/article1/delete" class="btn btn-danger btn-sm ml-1">
                      <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Cras sit amet nibh libero, in gravida nulla
                    <a href="/admin/article/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>

                    <a href="/admin/article1/delete" class="btn btn-danger btn-sm ml-1">
                      <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Cras sit amet nibh libero, in gravida nulla
                    <a href="/admin/article/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>

                    <a href="/admin/article1/delete" class="btn btn-danger btn-sm ml-1">
                      <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Cras sit amet nibh libero, in gravida nulla
                    <a href="/admin/article/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>

                    <a href="/admin/article1/delete" class="btn btn-danger btn-sm ml-1">
                      <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                  </li>
                </ul>

                <nav class="mt-2 float-right" aria-label="Article navigation">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/admin/footer'); %>
