<%- include('../partials/admin/header'); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Author</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Author</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Add Author</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="name">Author Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Salami Harun">
                  </div>

                  <div class="form-group">
                    <label for="email">Author Email</label>
                    <input type="email" class="form-control" id="email" placeholder="samlak@blogger.inc">
                  </div>

                  <div class="form-group">
                    <label for="bio">Author Bio</label>
                    <textarea class="form-control" id="bio" placeholder="Author biography"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="role">Author Role</label>
                    <select class="custom-select" id="role">
                      <option>Admin</option>
                      <option>Author</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="password">Author Password</label>
                    <input type="password" class="form-control" id="password">
                  </div>

                  <div class="form-group">
                    <label for="picture">Author Profile Picture</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Create author</button>
                </form>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">List of Author</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Sodawe Fedseo
                    <a href="/admin/author/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Politicosa Abihubiye
                    <a href="/admin/author/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Ilanurewa Erewaseruti
                    <a href="/admin/author/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>
                  </li>
                  <li class="list-group-item">Careerewe Sofedinopout
                    <a href="/admin/author/1/edit" class="btn btn-secondary btn-sm ml-1">
                      <i class="nav-icon fas fa-pencil-alt"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/admin/footer'); %>
