</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="<%= publicPath %>plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= publicPath %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= publicPath %>js/adminlte.min.js"></script>

</body>
</html>