
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 Blogger Inc.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="<%= publicPath %>plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= publicPath %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Blogger App -->
<script src="<%= publicPath %>js/adminlte.min.js"></script>
</body>
</html>